node_modules/
android/keystore.properties
android/*.jks
android/app/build/
android/build/
android/.gradle/
android/.idea/
android/local.properties
ios/App/Pods/
ios/App/build/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
